# Merge DataFrame

In [3]:
import pandas as pd

staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'}, 
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')

student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')

print(staff_df)
print(student_df)

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [4]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [5]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [6]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [7]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()

pd.merge(staff_df, student_df, how='left', on='Name')

    Name            Role       School
0  Kelly  Director of HR          NaN
1  Sally  Course liasion  Engineering
2  James          Grader     Business

In [8]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 
                          'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 
                          'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 
                          'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 
                            'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 
                            'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 
                            'Location': '512 Wilson Crescent'}])
pd.merge(staff_df, student_df, how='left', on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [9]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 
                          'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 
                          'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 
                          'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 
                            'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 
                            'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 
                            'School': 'Engineering'}])
pd.merge(staff_df, student_df, how='inner', on=['First Name', 'Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

# Pandas Idioms

In [10]:
import numpy as np
import timeit

df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [12]:
# method chaining 
(df.where(df['SUMLEV']==50)
.dropna()
.set_index(['STNAME', 'CTYNAME'])
.rename(columns={'ESTIMATESBASE2010': 'Estimatas Base 2010'}))

# where() didn't drop NaN by default. so we must use the method dropna()

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County       50.0     3.0       6.0    1.0     1.0
        Baldwin County       50.0     3.0       6.0    1.0     3.0
        Barbour County       50.0     3.0       6.0    1.0     5.0
        Bibb County          50.0     3.0       6.0    1.0     7.0
        Blount County        50.0     3.0       6.0    1.0     9.0
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County    50.0     4.0       8.0   56.0    37.0
        Teton County         50.0     4.0       8.0   56.0    39.0
        Uinta County         50.0     4.0       8.0   56.0    41.0
        Washakie County      50.0     4.0       8.0   56.0    43.0
        Weston County        50.0     4.0       8.0   56.0    45.0

                           CENSUS2010POP  Estimatas Base 2010  \
STNAME  CTYNAME
Alabama Autauga County           54571.0              54571.0
        Baldwin County          182265.0             182265.0
        Barbour County           27457.0              27457.0
        Bibb County              22915.0              22919.0
        Blount County            57322.0              57322.0
...                                  ...                  ...
Wyoming Sweetwater County        43806.0              43806.0
        Teton County             21294.0              21294.0
        Uinta County             21118.0              21118.0
        Washakie County           8533.0               8533.0
        Weston County             7208.0               7208.0

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County             54660.0          55253.0          55175.0
        Baldwin County            183193.0         186659.0         190396.0
        Barbour County             27341.0          27226.0          27159.0
        Bibb County                22861.0          22733.0          22642.0
        Blount County              57373.0          57711.0          57776.0
...                                    ...              ...              ...
Wyoming Sweetwater County          43593.0          44041.0          45104.0
        Teton County               21297.0          21482.0          21697.0
        Uinta County               21102.0          20912.0          20989.0
        Washakie County             8545.0           8469.0           8443.0
        Weston County               7181.0           7114.0           7065.0

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [ ]:
# set_index(inplace=) : Whether to modify the DataFrame rather than creating a new one.

In [13]:
df = df[df['SUMLEV']==50]
df.set_index(['STNAME', 'CTYNAME'], inplace=True)
df.rename(columns={'ESTIMATESBASE2010': 'Estimatas Base 2010'})

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County         50       3         6      1       1
        Baldwin County         50       3         6      1       3
        Barbour County         50       3         6      1       5
        Bibb County            50       3         6      1       7
        Blount County          50       3         6      1       9
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County      50       4         8     56      37
        Teton County           50       4         8     56      39
        Uinta County           50       4         8     56      41
        Washakie County        50       4         8     56      43
        Weston County          50       4         8     56      45

                           CENSUS2010POP  Estimatas Base 2010  \
STNAME  CTYNAME
Alabama Autauga County             54571                54571
        Baldwin County            182265               182265
        Barbour County             27457                27457
        Bibb County                22915                22919
        Blount County              57322                57322
...                                  ...                  ...
Wyoming Sweetwater County          43806                43806
        Teton County               21294                21294
        Uinta County               21118                21118
        Washakie County             8533                 8533
        Weston County               7208                 7208

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County               54660            55253            55175
        Baldwin County              183193           186659           190396
        Barbour County               27341            27226            27159
        Bibb County                  22861            22733            22642
        Blount County                57373            57711            57776
...                                    ...              ...              ...
Wyoming Sweetwater County            43593            44041            45104
        Teton County                 21297            21482            21697
        Uinta County                 21102            20912            20989
        Washakie County               8545             8469             8443
        Weston County                 7181             7114             7065

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [ ]:
# time both methods and see which one runs faster

In [15]:
def first_approach():
    return (df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME', 'CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010': 'Estimatas Base 2010'}))
df = pd.read_csv('census.csv')
timeit.timeit(first_approach, number=10)

0.39259620000302675

In [17]:
def second_approach():
    new_df = df[df['SUMLEV']==50]
    new_df.set_index(['STNAME', 'CTYNAME'], inplace=True)
    return new_df.rename(columns={'ESTIMATESBASE2010': 'Estimatas Base 2010'})
df = pd.read_csv('census.csv')
timeit.timeit(second_approach, number=10)

0.12422839999999269

In [20]:
#seperate Series to display min, max
def min_max(row):
    data = row[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})
# axis=0 : rows
# axis=1, axis='columns' : columns
df.apply(min_max, axis=1)

          min      max
0     4785161  4846411
1       54660    55290
2      183193   199713
3       26815    27341
4       22512    22861
...       ...      ...
3188    43593    45162
3189    21297    22905
3190    20903    21102
3191     8316     8545
3192     7065     7185

[3193 rows x 2 columns]

In [22]:
# add to new columns in the original df to store min and max
def min_max(row):
    data = row[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014']]
    row['max'] = np.max(data)
    row['min'] = np.min(data)
    return row
df.apply(min_max, axis=1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,max,min
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594,4846411,4785161
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333,55290,54660
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499,199713,183193
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299,27341,26815
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861,22861,22512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195,45162,43593
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747,22905,21297
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351,21102,20903
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961,8545,8316
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294,7185,7065

In [24]:
# using lamdas
rows = ['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014']
df.apply(lambda x: np.max(x[rows]), axis=1)

0       4846411
1         55290
2        199713
3         27341
4         22861
         ...
3188      45162
3189      22905
3190      21102
3191       8545
3192       7185
Length: 3193, dtype: int64

In [26]:
df.apply(lambda x: pd.Series({'min': np.min(x[rows]), 'max': np.max(x[rows])}), axis=1)
# s is df

          min      max
0     4785161  4846411
1       54660    55290
2      183193   199713
3       26815    27341
4       22512    22861
...       ...      ...
3188    43593    45162
3189    21297    22905
3190    20903    21102
3191     8316     8545
3192     7065     7185

[3193 rows x 2 columns]

In [33]:
# divide the states into 4 categories

def get_state_region(x):
    northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 
                 'Rhode Island','Vermont','New York','New Jersey','Pennsylvania']
    midwest = ['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa',
               'Kansas','Minnesota','Missouri','Nebraska','North Dakota',
               'South Dakota']
    south = ['Delaware','Florida','Georgia','Maryland','North Carolina',
             'South Carolina','Virginia','District of Columbia','West Virginia',
             'Alabama','Kentucky','Mississippi','Tennessee','Arkansas',
             'Louisiana','Oklahoma','Texas']
    west = ['Arizona','Colorado','Idaho','Montana','Nevada','New Mexico','Utah',
            'Wyoming','Alaska','California','Hawaii','Oregon','Washington']
    if x in northeast:
        return "Northeast"
    elif x in midwest:
        return "Midwest"
    elif x in south:
        return "South"
    else:
        return "West"
# create a new column Region

df['Region'] = df['STNAME'].apply(lambda x: get_state_region(x))
df[['STNAME', 'Region']]

       STNAME Region
0     Alabama  South
1     Alabama  South
2     Alabama  South
3     Alabama  South
4     Alabama  South
...       ...    ...
3188  Wyoming   West
3189  Wyoming   West
3190  Wyoming   West
3191  Wyoming   West
3192  Wyoming   West

[3193 rows x 2 columns]

# Group by

In [36]:
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [37]:
%%timeit -n 3
# calculate the average population for each state in 2010

for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    print(state +' '+ str(avg))

Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218

Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454

North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271

Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
1.35 s ± 57 ms per loop (mean ± std. dev. of 7 runs, 3 loops each)

In [40]:
%%timeit -n 3

for group, frame in df.groupby('STNAME'):
    # grouby() returns a tuple, where the first value is the key we were trying to group by, and the second one is dataframe for that group
    avg = np.average(frame['CENSUS2010POP'])
    print(group +' '+ str(avg))

Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667
Arkansas 38878.90666666667
California 642309.5862068966
Colorado 78581.1875
Connecticut 446762.125
Delaware 299311.3333333333
District of Columbia 601723.0
Florida 280616.5671641791
Georgia 60928.63522012578
Hawaii 272060.2
Idaho 35626.86363636364
Illinois 125790.50980392157
Indiana 70476.10869565218
Iowa 30771.262626262625
Kansas 27172.55238095238
Kentucky 36161.39166666667
Louisiana 70833.9375
Maine 83022.5625
Maryland 240564.66666666666
Massachusetts 467687.78571428574
Michigan 119080.0
Minnesota 60964.65517241379
Mississippi 36186.54878048781
Missouri 52077.62608695652
Montana 17668.125
Nebraska 19638.075268817203
Nevada 158855.9411764706
New Hampshire 131647.0
New Jersey 418661.61904761905
New Mexico 62399.36363636364
New York 312550.03225806454
North Carolina 95354.83
North Dakota 12690.396226415094
Ohio 131096.63636363635
Oklahoma 48718.844155844155
Oregon 106418.72222222222
Pennsylvania 189587.74626865672
Rhode Island 210513.4
South Carolina 100551.39130434782
South Dakota 12336.060606060606
Tennessee 66801.1052631579
Texas 98998.27165354331
Utah 95306.37931034483
Vermont 44695.78571428572
Virginia 60111.29323308271
Washington 172424.10256410256
West Virginia 33690.8
Wisconsin 78985.91666666667
Wyoming 24505.478260869564
Alabama 71339.34328358209
Alaska 24490.724137931036
Arizona 426134.4666666667

In [14]:
# Groupby() will split the DataFrame on its index (rows), on columns then with axis=1
import pandas as pd
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df = df.set_index('STNAME')
def set_batch_number(item):
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

for group, frame in df.groupby(by=set_batch_number):
    print('There are '+ str(len(frame))+ ' records in group '+ str(group))

There are 1177 records in group 0
There are 1134 records in group 1
There are 831 records in group 2

In [13]:
# this time didn't pass in a column name to groupby(). Instead, set the index of the dataframe
# to be STNAME, and if no column identifier is passed groupby() will use the index

In [7]:
# group by both columns

df = pd.read_csv('listings.csv')
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [9]:
df = df.set_index(['cancellation_policy', 'review_scores_value'])
df.head()

                                               id  \
cancellation_policy review_scores_value
moderate            NaN                  12147973
                    9.0                   3075044
                    10.0                     6976
                    10.0                  1436513
flexible            10.0                  7651065

                                                                   listing_url  \
cancellation_policy review_scores_value
moderate            NaN                  https://www.airbnb.com/rooms/12147973
                    9.0                   https://www.airbnb.com/rooms/3075044
                    10.0                     https://www.airbnb.com/rooms/6976
                    10.0                  https://www.airbnb.com/rooms/1436513
flexible            10.0                  https://www.airbnb.com/rooms/7651065

                                              scrape_id last_scraped  \
cancellation_policy review_scores_value
moderate            NaN                  20160906204935   2016-09-07
                    9.0                  20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
flexible            10.0                 20160906204935   2016-09-07

                                                                                  name  \
cancellation_policy review_scores_value
moderate            NaN                                     Sunny Bungalow in the City
                    9.0                              Charming room in pet friendly apt
                    10.0                              Mexican Folk Art Haven in Boston
                    10.0                 Spacious Sunny Bedroom Suite in Historic Home
flexible            10.0                                           Come Home to Boston

                                                                                   summary  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                                                                     space  \
cancellation_policy review_scores_value
moderate            NaN                  The house has an open and cozy feel at the sam...
                    9.0                  Small but cozy and quite room with a full size...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Most places you find in Boston are small howev...
flexible            10.0                 Clean, attractive, private room, one block fro...

                                                                               description  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                        experiences_offered  \
cancellation_policy review_scores_value
moderate            NaN                                none
                    9.0                                none
                    10.0                               none
                    10.0                               none
flexible            10.0                               none

                                                                     neighborhood_overview  \
cancellation_policy review_scores_value
moderate            NaN                  Roslindale is quiet, convenient and friendly. ...
                    9.0                  The room is in Roslindale, a diverse and prima...
                    10.0                 The LOCATION: Roslindale is a safe and diverse...
                    10.0                 Roslindale is a lovely little neighborhood loc...
flexible            10.0                 I love the proximity to downtown, the neighbor...

                                         ... review_scores_communication  \
cancellation_policy review_scores_value  ...
moderate            NaN                  ...                         NaN
                    9.0                  ...                        10.0
                    10.0                 ...                        10.0
                    10.0                 ...                        10.0
flexible            10.0                 ...                        10.0

                                        review_scores_location  \
cancellation_policy review_scores_value
moderate            NaN                                    NaN
                    9.0                                    9.0
                    10.0                                   9.0
                    10.0                                  10.0
flexible            10.0                                   9.0

                                        requires_license license  \
cancellation_policy review_scores_value
moderate            NaN                                f     NaN
                    9.0                                f     NaN
                    10.0                               f     NaN
                    10.0                               f     NaN
flexible            10.0                               f     NaN

                                        jurisdiction_names instant_bookable  \
cancellation_policy review_scores_value
moderate            NaN                                NaN                f
                    9.0                                NaN                t
                    10.0                               NaN                f
                    10.0                               NaN                f
flexible            10.0                               NaN                f

                                        require_guest_profile_picture  \
cancellation_policy review_scores_value
moderate            NaN                                             f
                    9.0                                             f
                    10.0                                            t
                    10.0                                            f
flexible            10.0                                            f

                                        require_guest_phone_verification  \
cancellation_policy review_scores_value
moderate            NaN                                                f
                    9.0                                                f
                    10.0                                               f
                    10.0                                               f
flexible            10.0                                               f

                                        calculated_host_listings_count  \
cancellation_policy review_scores_value
moderate            NaN                                              1
                    9.0                                              1
                    10.0                                             1
                    10.0                                             1
flexible            10.0                                             1

                                         reviews_per_month
cancellation_policy review_scores_value
moderate            NaN                                NaN
                    9.0                               1.30
                    10.0                              0.47
                    10.0                              1.00
flexible            10.0                              2.25

[5 rows x 93 columns]

In [10]:
for group, frame in df.groupby(level=[0,1]):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [21]:
df = pd.read_csv('listings.csv')
df = df.set_index(['cancellation_policy', 'review_scores_value'])

def grouping_fun(item):
    # item is in the format of ('cancellation_policy', 'review_scores_value')
    if item[1]==10.0:
        return (item[0], '10.0')
    else:
        return (item[0], 'not 10.0')      

for group, frame in df.groupby(by=grouping_fun):
    print(group)

('flexible', '10.0')
('flexible', 'not 10.0')
('moderate', '10.0')
('moderate', 'not 10.0')
('strict', '10.0')
('strict', 'not 10.0')
('super_strict_30', '10.0')
('super_strict_30', 'not 10.0')

In [22]:
df

                                               id  \
cancellation_policy review_scores_value
moderate            NaN                  12147973
                    9.0                   3075044
                    10.0                     6976
                    10.0                  1436513
flexible            10.0                  7651065
...                                           ...
strict              9.0                   8373729
                    NaN                  14844274
flexible            NaN                  14585486
strict              7.0                  14603878
flexible            NaN                  14504422

                                                                   listing_url  \
cancellation_policy review_scores_value
moderate            NaN                  https://www.airbnb.com/rooms/12147973
                    9.0                   https://www.airbnb.com/rooms/3075044
                    10.0                     https://www.airbnb.com/rooms/6976
                    10.0                  https://www.airbnb.com/rooms/1436513
flexible            10.0                  https://www.airbnb.com/rooms/7651065
...                                                                        ...
strict              9.0                   https://www.airbnb.com/rooms/8373729
                    NaN                  https://www.airbnb.com/rooms/14844274
flexible            NaN                  https://www.airbnb.com/rooms/14585486
strict              7.0                  https://www.airbnb.com/rooms/14603878
flexible            NaN                  https://www.airbnb.com/rooms/14504422

                                              scrape_id last_scraped  \
cancellation_policy review_scores_value
moderate            NaN                  20160906204935   2016-09-07
                    9.0                  20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
flexible            10.0                 20160906204935   2016-09-07
...                                                 ...          ...
strict              9.0                  20160906204935   2016-09-07
                    NaN                  20160906204935   2016-09-07
flexible            NaN                  20160906204935   2016-09-07
strict              7.0                  20160906204935   2016-09-07
flexible            NaN                  20160906204935   2016-09-07

                                                                                  name  \
cancellation_policy review_scores_value
moderate            NaN                                     Sunny Bungalow in the City
                    9.0                              Charming room in pet friendly apt
                    10.0                              Mexican Folk Art Haven in Boston
                    10.0                 Spacious Sunny Bedroom Suite in Historic Home
flexible            10.0                                           Come Home to Boston
...                                                                                ...
strict              9.0                                           Big cozy room near T
                    NaN                            BU Apartment DexterPark Bright room
flexible            NaN                                       Gorgeous funky apartment
strict              7.0                          Great Location; Train and Restaurants
flexible            NaN                             (K1) Private Room near Harvard/MIT

                                                                                   summary  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...
...                                                                                    ...
strict              9.0                  5 min walking to Orange Line subway with 2 sto...
                    NaN                  Most popular apartment in BU, best located in ...
flexible            NaN                  Funky little apartment close to public transpo...
strict              7.0                  My place is close to Taco Loco Mexican Grill, ...
flexible            NaN                  My place is close to My home is a warm and fri...

                                                                                     space  \
cancellation_policy review_scores_value
moderate            NaN                  The house has an open and cozy feel at the sam...
                    9.0                  Small but cozy and quite room with a full size...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Most places you find in Boston are small howev...
flexible            10.0                 Clean, attractive, private room, one block fro...
...                                                                                    ...
strict              9.0                                                                NaN
                    NaN                                                Best location in BU
flexible            NaN                  Modern and relaxed space with many facilities ...
strict              7.0                                                                NaN
flexible            NaN                  To ensure a smooth check in: 1. You MUST have ...

                                                                               description  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...
...                                                                                    ...
strict              9.0                  5 min walking to Orange Line subway with 2 sto...
                    NaN                  Most popular apartment in BU, best located in ...
flexible            NaN                  Funky little apartment close to public transpo...
strict              7.0                  My place is close to Taco Loco Mexican Grill, ...
flexible            NaN                  My place is close to My home is a warm and fri...

                                        experiences_offered  \
cancellation_policy review_scores_value
moderate            NaN                                none
                    9.0                                none
                    10.0                               none
                    10.0                               none
flexible            10.0                               none
...                                                     ...
strict              9.0                                none
                    NaN                                none
flexible            NaN                                none
strict              7.0                                none
flexible            NaN                                none

                                                                     neighborhood_overview  \
cancellation_policy review_scores_value
moderate            NaN                  Roslindale is quiet, convenient and friendly. ...
                    9.0                  The room is in Roslindale, a diverse and prima...
                    10.0                 The LOCATION: Roslindale is a safe and diverse...
                    10.0                 Roslindale is a lovely little neighborhood loc...
flexible            10.0                 I love the proximity to downtown, the neighbor...
...                                                                                    ...
strict              9.0                                                                NaN
                    NaN                                                                NaN
flexible            NaN                  Cambridge is a short walk into Boston, and set...
strict              7.0                                                                NaN
flexible            NaN                                                                NaN

                                         ... review_scores_communication  \
cancellation_policy review_scores_value  ...
moderate            NaN                  ...                         NaN
                    9.0                  ...                        10.0
                    10.0                 ...                        10.0
                    10.0                 ...                        10.0
flexible            10.0                 ...                        10.0
...                                      ...                         ...
strict              9.0                  ...                        10.0
                    NaN                  ...                         NaN
flexible            NaN                  ...                         NaN
strict              7.0                  ...                         9.0
flexible            NaN                  ...                         NaN

                                        review_scores_location  \
cancellation_policy review_scores_value
moderate            NaN                                    NaN
                    9.0                                    9.0
                    10.0                                   9.0
                    10.0                                  10.0
flexible            10.0                                   9.0
...                                                        ...
strict              9.0                                    8.0
                    NaN                                    NaN
flexible            NaN                                    NaN
strict              7.0                                    8.0
flexible            NaN                                    NaN

                                        requires_license license  \
cancellation_policy review_scores_value
moderate            NaN                                f     NaN
                    9.0                                f     NaN
                    10.0                               f     NaN
                    10.0                               f     NaN
flexible            10.0                               f     NaN
...                                                  ...     ...
strict              9.0                                f     NaN
                    NaN                                f     NaN
flexible            NaN                                f     NaN
strict              7.0                                f     NaN
flexible            NaN                                f     NaN

                                        jurisdiction_names instant_bookable  \
cancellation_policy review_scores_value
moderate            NaN                                NaN                f
                    9.0                                NaN                t
                    10.0                               NaN                f
                    10.0                               NaN                f
flexible            10.0                               NaN                f
...                                                    ...              ...
strict              9.0                                NaN                t
                    NaN                                NaN                f
flexible            NaN                                NaN                f
strict              7.0                                NaN                f
flexible            NaN                                NaN                t

                                        require_guest_profile_picture  \
cancellation_policy review_scores_value
moderate            NaN                                             f
                    9.0                                             f
                    10.0                                            t
                    10.0                                            f
flexible            10.0                                            f
...                                                               ...
strict              9.0                                             f
                    NaN                                             f
flexible            NaN                                             f
strict              7.0                                             f
flexible            NaN                                             f

                                        require_guest_phone_verification  \
cancellation_policy review_scores_value
moderate            NaN                                                f
                    9.0                                                f
                    10.0                                               f
                    10.0                                               f
flexible            10.0                                               f
...                                                                  ...
strict              9.0                                                f
                    NaN                                                f
flexible            NaN                                                f
strict              7.0                                                f
flexible            NaN                                                f

                                        calculated_host_listings_count  \
cancellation_policy review_scores_value
moderate            NaN                                              1
                    9.0                                              1
                    10.0                                             1
                    10.0                                             1
flexible            10.0                                             1
...                                                                ...
strict              9.0                                              8
                    NaN                                              2
flexible            NaN                                              1
strict              7.0                                              1
flexible            NaN                                              3

                                         reviews_per_month
cancellation_policy review_scores_value
moderate            NaN                                NaN
                    9.0                               1.30
                    10.0                              0.47
                    10.0                              1.00
flexible            10.0                              2.25
...                                                    ...
strict              9.0                               0.34
                    NaN                                NaN
flexible            NaN                                NaN
strict              7.0                               2.00
flexible            NaN                                NaN

[3585 rows x 93 columns]

# Aggregation

In [26]:
import numpy as np
df = pd.read_csv('listings.csv')

df.groupby('cancellation_policy').agg({'review_scores_value': np.nanmean})
# np.average() doesn't ignore nan, so we use np.nanmean
# agg() : we sent dictionaty entries, with the key indicating which columns we wanted functions applied to

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [27]:
df.groupby('cancellation_policy').agg({'review_scores_value': (np.nanmean, np.nanstd), 'reviews_per_month': np.nanmean})
# np.nanstd : calculate Standard deviation
# Standard deviation: is a measure of how dispersed the data is in relation to the mean.
# Low standard deviation means data are clustered around the mean, and high standard deviation indicates data are more spread out.

                    review_scores_value           reviews_per_month
                                nanmean    nanstd           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

# Transformation

In [ ]:
# first sight about transform()
# ------ ON INTERNET -------

In [30]:
test_df = pd.DataFrame({'A': [1,2,3], 'B': [10,20,30] })
def plus_10(x):
    return x+10
test_df.transform(plus_10)

    A   B
0  11  20
1  12  30
2  13  40

In [32]:
test_df.transform(lambda x: x+10)

    A   B
0  11  20
1  12  30
2  13  40

In [33]:
test_df.transform([np.sqrt, np.exp])

          A                    B
       sqrt        exp      sqrt           exp
0  1.000000   2.718282  3.162278  2.202647e+04
1  1.414214   7.389056  4.472136  4.851652e+08
2  1.732051  20.085537  5.477226  1.068647e+13

In [34]:
# func can be a dict of axis labels 
test_df.transform({
    'A': np.sqrt,
    'B': np.exp,
})

          A             B
0  1.000000  2.202647e+04
1  1.414214  4.851652e+08
2  1.732051  1.068647e+13

In [38]:
test_df = pd.DataFrame({
  'restaurant_id': [101,102,103,104,105,106,107],
  'address': ['A','B','C','D', 'E', 'F', 'G'],
  'city': ['London','London','London','Oxford','Oxford', 'Durham', 'Durham'],
  'sales': [10,500,48,12,21,22,14]
})
test_df

   restaurant_id address    city  sales
0            101       A  London     10
1            102       B  London    500
2            103       C  London     48
3            104       D  Oxford     12
4            105       E  Oxford     21
5            106       F  Durham     22
6            107       G  Durham     14

In [ ]:
# What is the percentage of sales each restaurant represents in the city ???

In [42]:
# FIRST SOLUTION : groupby(), apply(), and merge()

# Step 1: Use groupby() and apply() to calculate the city_total_sales
city_total_sales = test_df.groupby('city')['sales'].sum().rename('city_total_sales').reset_index()
city_total_sales

     city  city_total_sales
0  Durham                36
1  London               558
2  Oxford                33

In [43]:
# Step 2: Use merge() function to combine the tables
df_new = pd.merge(test_df, city_total_sales, on='city')
# variante 2: pd.merge(test_df, city_total_sales, how='left')
df_new

   restaurant_id address    city  sales  city_total_sales
0            101       A  London     10               558
1            102       B  London    500               558
2            103       C  London     48               558
3            104       D  Oxford     12                33
4            105       E  Oxford     21                33
5            106       F  Durham     22                36
6            107       G  Durham     14                36

In [45]:
# Step 3: Calculate the percentage
df_new['pct'] = (df_new['sales'] / df_new['city_total_sales']).apply(lambda x: format(x, '.2%'))
df_new

   restaurant_id address    city  sales  city_total_sales     pct
0            101       A  London     10               558   1.79%
1            102       B  London    500               558  89.61%
2            103       C  London     48               558   8.60%
3            104       D  Oxford     12                33  36.36%
4            105       E  Oxford     21                33  63.64%
5            106       F  Durham     22                36  61.11%
6            107       G  Durham     14                36  38.89%

In [50]:
# SECOND SOLUTION :  groupby() and transform()

# Step 1: Use groupby() and transform() to calculate the city_total_sales
test_df['city_total_sales'] = test_df.groupby('city')['sales'].transform('sum')
test_df

   restaurant_id address    city  sales  city_total_sales
0            101       A  London     10               558
1            102       B  London    500               558
2            103       C  London     48               558
3            104       D  Oxford     12                33
4            105       E  Oxford     21                33
5            106       F  Durham     22                36
6            107       G  Durham     14                36

In [ ]:
# -----LECTURE ON COURSERA------

# agg() returns a single value per column, so one row per group
# tranform() returns an object that is the same size as the group

In [52]:
df

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,8373729,https://www.airbnb.com/rooms/8373729,20160906204935,2016-09-07,Big cozy room near T,5 min walking to Orange Line subway with 2 sto...,NaN,5 min walking to Orange Line subway with 2 sto...,none,NaN,...,9.0,f,NaN,NaN,t,strict,f,f,8,0.34
3581,14844274,https://www.airbnb.com/rooms/14844274,20160906204935,2016-09-07,BU Apartment DexterPark Bright room,"Most popular apartment in BU, best located in ...",Best location in BU,"Most popular apartment in BU, best located in ...",none,NaN,...,NaN,f,NaN,NaN,f,strict,f,f,2,NaN
3582,14585486,https://www.airbnb.com/rooms/14585486,20160906204935,2016-09-07,Gorgeous funky apartment,Funky little apartment close to public transpo...,Modern and relaxed space with many facilities ...,Funky little apartment close to public transpo...,none,"Cambridge is a short walk into Boston, and set...",...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN
3583,14603878,https://www.airbnb.com/rooms/14603878,20160906204935,2016-09-07,Great Location; Train and Restaurants,"My place is close to Taco Loco Mexican Grill, ...",NaN,"My place is close to Taco Loco Mexican Grill, ...",none,NaN,...,7.0,f,NaN,NaN,f,strict,f,f,1,2.00
3584,14504422,https://www.airbnb.com/rooms/14504422,20160906204935,2016-09-07,(K1) Private Room near Harvard/MIT,My place is close to My home is a warm and fri...,To ensure a smooth check in: 1. You MUST have ...,My place is close to My home is a warm and fri...,none,NaN,...,NaN,f,NaN,NaN,t,flexible,f,f,3,NaN

In [54]:
cols = ['cancellation_policy', 'review_scores_value']
transform_df = df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df

      review_scores_value
0                9.307398
1                9.307398
2                9.307398
3                9.307398
4                9.237421
...                   ...
3580             9.081441
3581             9.081441
3582             9.237421
3583             9.081441
3584             9.237421

[3585 rows x 1 columns]

transform_df.rename({'review_scores_value': 'mean_review_scores'}, axis=1, inplace=True)
df = df.merge(transform_df, left_index=True, right_index=True )
df


# Filtering

In [ ]:
# filter() function takes in a function and returns either a True or False
# It doesn’t update the existing DataFrame instead it always returns a new one.

In [56]:
# those groups which have a mean rating above 9
df.groupby('cancellation_policy').filter(lambda x: np.nanmean(x['review_scores_value']) > 9.2)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,f,NaN,NaN,f,moderate,f,f,1,NaN,9.307398
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,NaN,NaN,t,moderate,f,f,1,1.30,9.307398
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,f,NaN,NaN,f,moderate,t,f,1,0.47,9.307398
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,f,NaN,NaN,f,moderate,f,f,1,1.00,9.307398
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,f,NaN,NaN,f,flexible,f,f,1,2.25,9.237421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3576,14689681,https://www.airbnb.com/rooms/14689681,20160906204935,2016-09-07,Beautiful loft style bedroom with large bathroom,You'd be living on the top floor of a four sto...,NaN,You'd be living on the top floor of a four sto...,none,NaN,...,f,NaN,NaN,f,flexible,f,f,1,NaN,9.237421
3577,13750763,https://www.airbnb.com/rooms/13750763,20160906204935,2016-09-07,Comfortable Space in the Heart of Brookline,"Our place is close to Coolidge Corner, Allston...",This space consists of 2 Rooms and a private b...,"Our place is close to Coolidge Corner, Allston...",none,Brookline is known for being an excellent and ...,...,f,NaN,NaN,f,flexible,f,f,1,NaN,9.237421
3579,14852179,https://www.airbnb.com/rooms/14852179,20160906204935,2016-09-07,Spacious Queen Bed Room Close to Boston Univer...,- Grocery: A full-size Star market is 2 minute...,NaN,- Grocery: A full-size Star market is 2 minute...,none,NaN,...,f,NaN,NaN,f,flexible,f,f,1,NaN,9.237421
3582,14585486,https://www.airbnb.com/rooms/14585486,20160906204935,2016-09-07,Gorgeous funky apartment,Funky little apartment close to public transpo...,Modern and relaxed space with many facilities ...,Funky little apartment close to public transpo...,none,"Cambridge is a short walk into Boston, and set...",...,f,NaN,NaN,f,flexible,f,f,1,NaN,9.237421
3584,14504422,https://www.airbnb.com/rooms/14504422,20160906204935,2016-09-07,(K1) Private Room near Harvard/MIT,My place is close to My home is a warm and fri...,To ensure a smooth check in: 1. You MUST have ...,My place is close to My home is a warm and fri...,none,NaN,...,f,NaN,NaN,t,flexible,f,f,3,NaN,9.237421

In [57]:
# columns which has letter 'a' or 'A' in its name.
df.filter(regex ='[aA]')

,scrape_id,last_scraped,name,summary,space,transit,access,interaction,thumbnail_url,host_name,...,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_value,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_phone_verification,calculated_host_listings_count,mean_review_scores
0,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"The bus stop is 2 blocks away, and frequent. B...","You will have access to 2 bedrooms, a living r...",NaN,https://a2.muscache.com/im/pictures/c0842db1-e...,Virginia,...,NaN,NaN,NaN,NaN,NaN,f,moderate,f,1,9.307398
1,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Plenty of safe street parking. Bus stops a few...,Apt has one more bedroom (which I use) and lar...,"If I am at home, I am likely working in my hom...",https://a1.muscache.com/im/pictures/39327812/d...,Andrea,...,9.0,10.0,9.0,9.0,NaN,t,moderate,f,1,9.307398
2,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","PUBLIC TRANSPORTATION: From the house, quick p...","I am living in the apartment during your stay,...","ABOUT ME: I'm a laid-back, friendly, unmarried...",https://a2.muscache.com/im/pictures/6ae8335d-9...,Phil,...,9.0,10.0,9.0,10.0,NaN,f,moderate,f,1,9.307398
3,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,There are buses that stop right in front of th...,The basement has a washer dryer and gym area. ...,We do live in the house therefore might be som...,https://a2.muscache.com/im/pictures/39764190-1...,Meghna,...,10.0,10.0,10.0,10.0,NaN,f,moderate,f,1,9.307398
4,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...",From Logan Airport and South Station you have...,You will have access to the front and side por...,I love my city and really enjoy sharing it wit...,https://a1.muscache.com/im/pictures/97154760/8...,Linda,...,10.0,10.0,9.0,10.0,NaN,f,flexible,f,1,9.237421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,20160906204935,2016-09-07,Big cozy room near T,5 min walking to Orange Line subway with 2 sto...,NaN,NaN,NaN,NaN,https://a2.muscache.com/im/pictures/809e828a-c...,Joe,...,10.0,10.0,8.0,9.0,NaN,t,strict,f,8,9.081441
3581,20160906204935,2016-09-07,BU Apartment DexterPark Bright room,"Most popular apartment in BU, best located in ...",Best location in BU,"There is green line, BU shuttle in front of th...",NaN,NaN,https://a2.muscache.com/im/pictures/e833ccdc-6...,Ivy,...,NaN,NaN,NaN,NaN,NaN,f,strict,f,2,9.081441
3582,20160906204935,2016-09-07,Gorgeous funky apartment,Funky little apartment close to public transpo...,Modern and relaxed space with many facilities ...,"Public transport is 5 minuts away, but walking...",The whole place including social areas is your...,NaN,https://a2.muscache.com/im/pictures/eb32a608-a...,Vera,...,NaN,NaN,NaN,NaN,NaN,f,flexible,f,1,9.237421
3583,20160906204935,2016-09-07,Great Location; Train and Restaurants,"My place is close to Taco Loco Mexican Grill, ...",NaN,NaN,NaN,NaN,https://a2.muscache.com/im/pictures/4b56e0c4-6...,Medi,...,8.0,9.0,8.0,7.0,NaN,f,strict,f,1,9.081441
3584,20160906204935,2016-09-07,(K1) Private Room near Harvard/MIT,My place is close to My home is a warm and fri...,To ensure a smooth check in: 1. You MUST have ...,NaN,NaN,NaN,https://a2.muscache.com/im/pictures/f2b43613-6...,Rachel,...,NaN,NaN,NaN,NaN,NaN,t,flexible,f,3,9.237421

# Applying

In [60]:
df = pd.read_csv('listings.csv')
df = df[['cancellation_policy', 'review_scores_value']]
df.head()

  cancellation_policy  review_scores_value
0            moderate                  NaN
1            moderate                  9.0
2            moderate                 10.0
3            moderate                 10.0
4            flexible                 10.0